.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  form.normal-form{
    margin: 10px;
}

/* .mat-table {
    background-color: #fff;
}

.mat-header-cell, .mat-cell {
    color: black;
} */