/* .BoiteMere {
    width: 97%;
    border: 0.5em solid black;
    border-width: 1px;
    align-content: left;
}

h2,.detailCentre,p {
    padding: 10px 20px;
}

.styled {
    background-color: aqua;
    border: 0;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    position: relative;
    bottom: 0px;
    right: -20px;
    border: 0.1em solid black;
} */

.image {
    background-image: url(/assets/fond.jpg);
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
    overflow: hidden;
    min-height: 200vh;
    min-width: 100vw;
    position: relative;
}

.programme {
    display:flex;
    right: 3%;
    top: 3%;
    font-size: 20px;
    color: black;
    gap:10px;
    position: absolute;
  }

  .element {
    display:flex;
  }

  .logOut {
    margin-top: -10px;
    color: chocolate;
  }

  a {
    color: black;
    text-decoration:none;
  }

   .searchBar{
      max-width: 1000px;
      background-color: #fff;
      padding: 8px 10px;
   }

    .searchbarContent {
      display: flex;
    }

    #search {
      color: black;
    }
  
    input {
      border: none;
      max-width: 500px;
    }

    input:focus {
      outline:none;
    }

  .categories{
    max-width: 1100px;
    /* margin: 40px auto; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 0.5fr));
    gap: 20px;
    position:absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-80%);
  }

  .example-card {
    max-width: 200px;
    max-height: 600px;
    margin: 0px auto;
    background-color: #fff;
    color:black;
    box-shadow: 0.5px 0.5px 8px #888;
}

.design {
  background-color: chocolate;
  max-width: 200px;
  margin-bottom: 10px;
}

#item{
  font-weight: bold;
  font-size: 20px;
}

#item, #address {
  text-align: center;
}

#edit, #people {
  float:right
}

.add {
  background-color: chocolate;
}

.barAndButton {
  display: flex;
  gap: 5px;
}

.barAndText {
  position:absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-40%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#titre {
  font-size: 30px;
  text-align: center;
}

#nouveau {
  color: #fff;
}

/* form {
  color: #fff;
  background-color: #3c3c3c;
} */
