<mat-toolbar>
    <span>{{centreService.form.controls['id'].value?"Changer un centre":"Nouveau centre"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <form [formGroup]="centreService.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="id">
          <mat-form-field class="show">
            <input formControlName="nom" matInput placeholder="Nom*">
            <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>
          <mat-form-field class="show">
            <input formControlName="adresse" matInput placeholder="Adresse*" class="show">
            <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>
          <mat-form-field class="show">
            <input formControlName="codePostal" matInput placeholder="code postale*">
            <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>
          <mat-form-field class="show">
            <input formControlName="ville" matInput placeholder="ville*">
          </mat-form-field>
          <div class="button-row">
            <button mat-raised-button color="warn" type="submit">Submit</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>