<mat-toolbar>
  <span>{{personneCentre.UserForm.controls['id'].value?"Changer un SuperAdmin":"Ajouter Un SuperAdmin"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <form [formGroup]="personneCentre.UserForm" class="normal-form" (submit)="onSubmitSuperAdmin()">
    <mat-grid-list cols="1" rowHeight="400px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="id">
          <mat-form-field class="show">
            <input type="text" formControlName="nom" matInput placeholder="Nom*">
            <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>
          <mat-form-field class="show">
            <input formControlName="prenom" matInput placeholder="prenom*" class="show">
            <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>
          <mat-form-field class="show">
            <input type="text" formControlName="mail" matInput placeholder="email*">
            <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>
          <mat-form-field class="show">
            <input formControlName="password" type="password" matInput placeholder="mot de passe*">
          </mat-form-field>
          <mat-form-field class="show">
            <input type="text" formControlName="role" matInput placeholder="SUPERADMIN">
          </mat-form-field>
          <mat-form-field class="show">
            <input type="text" formControlName="centreName" matInput matInput placeholder="">
          </mat-form-field>
          <div class="button-row">
            <button mat-raised-button color="warn" type="submit">Submit</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
