/* div {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

form div> label {
    margin-bottom: 7px;
    font-weight: 600;
}

form div > input {
    height: 30px;
    padding-left: 20px;
    background: rgb(248, 247, 247);
    border-radius: 10px;
    border: 0.1em solid rgb(158, 157, 157);
}

.BoiteMere {
    width: 97%;
    border: 0.5em solid black;
    border-width: 1px;
    align-content: left;
}

h2,.detailCentre,p {
    padding: 10px 20px;
}

.reservation {
    padding: 5px 20px;
    color: #fff;
    border-radius: 10px;
    position: relative;
    bottom: 0px;
    right: -660px;
    width: 100px;
} */

.controles-container > * {
    width: 100%;
    }

.add-bottom-padding{
    padding-bottom: 10px;
}

.button-row button{
    margin:5px
}

.show {
    visibility: visible;
}